%h1.member_name.center= @member.name
%span= link_to @member.website, @member.website, target: '_blank'
- short_url = shortener_url(@member.short_url_key)
%span.member-short_url= link_to short_url, short_url, target: '_blank'

.topics
  - if @topics.blank?
    %h2= t('topic.blank')
  - else
    %h2= Topic.model_name.human(count: 3)
    %ul
      - @topics.each do |t|
        %li
          = t.title
          = "(#{t.level})"


.friends
  = render 'friends'
.find-expert
  %h2= t('expert.find')
  = form_tag member_find_experts_path(@member), remote: true do
    = text_field_tag 'title'
    = submit_tag t('word.search')
.list-experts
